.container {
    width: 100%;
    min-height: 60%;
    max-height: 75%;
    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: border-box;
    padding-left: 5%;
    margin-top: 30px;
    label {
        font-weight: 1000;
        font-size: 11px;
    }
    .list {
        margin-top: 10px;
        width: 90%;
        height: 400px;
        .list__item {
            .item {
                padding-left: 10px;
                height: 60px;
                display: flex;
                // justify-content: center;
                align-items: center;
                border: 1px solid black;
                box-sizing: border-box;
                margin-bottom: 15px;
                p {
                    margin-right: 100px;
                    width: 150px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
        }
    }
}